@use '/src/styles/constants/colors';

.search {
  position: relative;
  width: 360px;
  height: 720px;
  padding: 120px 40px 40px;
  margin: 20px 0;
  background-color: colors.$MAIN_BACKGROUND_COLOR;
  border-radius: 60px;
  box-shadow: rgba(100, 100, 111, 20%) 0 7px 29px 0;

  .searchForm {
    position: absolute;
    top: 68px;
    left: 0;
    width: 360px;
    height: 40px;
    background-color: colors.$WHITE;

    .searchInput {
      margin-left: 40px;
    }
  }

  .searchMain {
    position: absolute;
    top: 108px;
    left: 0;
    width: 360px;
    height: 536px;
    padding: 10px 30px;
    overflow: scroll;
    border: 5px solid colors.$WHITE;
  }

  .itemList {
    position: absolute;
    left: 0;
    width: 350px;
  }

  .errMsg {
    margin-top: 20px;
    text-align: center;
  }
}
