@use '/src/styles/constants/colors';

.search {
  position: relative;
  width: 360px;
  height: 720px;
  padding: 120px 40px 40px;
  margin: 20px 0;
  background-color: colors.$MAIN_BACKGROUND_COLOR;
  border-radius: 60px;
  box-shadow: rgba(100, 100, 111, 20%) 0 7px 29px 0;
}
