@use '/src/styles/constants/colors';

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  padding: 20px 40px;
  background-color: colors.$WHITE;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;

  h1 {
    font-size: 28px;
    font-weight: 600;
  }
}
